<a href="https://colab.research.google.com/github/AureliaWambui19/MTN-Cote-d-Ivoire-go-about-the-upgrade-of-its-infrastructure-strategy-within-the-given-cities/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_09_Aurelia_Wambui_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  import the pandas library
#
import pandas as pd
# as well as the Numpy library
import numpy as np                                                                    ``

#  1.loading my datasets for use in this project

In [ ]:

# Loading my first dataset, with cells_geo_description.xlsx

# Then load, the first sheet of the excel file into a data frame. 
# i  used pandas read_excel method. 
GeoDescription= pd.read_excel("cells_geo_description.xlsx")

# Lastly, view the first 5 rows
GeoDescription.head()

    Column name        Description  Format
0        VILLES               City  String
1        STATUS  In Service or not  String
2  LOCALISATION  in ABIDJAN or not  String
3    DECOUPZONE  Geographical Zone  String
4      ZONENAME       Name of Zone  String

In [ ]:
# Loading my second dataset, with cells_geo.xlsx

# Then load, the first sheet of the excel file into a data frame. 
# i  used pandas read_csv method. 
CellsGeo= pd.read_csv("cells_geo.csv", header= 0, index_col= 0, delimiter=";")

# Lastly, view the first 5 rows
CellsGeo.head()

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

In [ ]:
# Loading my third dataset,CDR_description.xlsx

# Then load, the first sheet of the excel file into a data frame. 
# i used pandas read_excel method. 

CDR_description= pd.read_excel("CDR_description.xlsx")
# Lastly, view the first 10rows
CDR_description.head(10)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [ ]:
# Loading my fourth dataset,Telecom dataset

# Then load, the first sheet of the excel file into a data frame. 
# i used pandas read_csv method. 
Telcom1= pd.read_csv("Telcom_dataset.csv")

# Lastly, view the last 5 rows
Telcom1.tail()

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5 rows x 10 columns]

In [ ]:
# Loading my fifth dataset,Telecom dataset1

# Then load, the first sheet of the excel file into a data frame. 
#  i  used pandas read_csv method.

Telcom2= pd.read_csv("Telcom_dataset2.csv")

# Lastly, view the first 5 rows
Telcom2.head()

In [ ]:
# Loading my sixth dataset,Telecom dataset3

# Then load, the first sheet of the excel file into a data frame. 
# i  used pandas read_csv method. 

Telcom3= pd.read_csv("Telcom_dataset3.csv")

# Lastly, view the first 5 rows
Telcom3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [ ]:
# Loading my sixth dataset,Telecom dataset3

# Then load, the first sheet of the excel file into a data frame. 
# i used pandas read_csv method. 

Telcom3= pd.read_csv("Telcom_dataset3.csv")

# Lastly, view the first 5 rows
Telcom3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

# Data Understanding
1.1 Data descripton

In [ ]:
# using the count' method to decribe the data in the various datasets
# cells_geo_description
GeoDescription.count()

Column name    11
Description    11
Format         11
dtype: int64

In [ ]:
# using the count method to decribe the data in the various datasets
# cells_geo
CellsGeo.count()

VILLES          3974
STATUS          3907
LOCALISATION    3974
DECOUPZONE      3974
ZONENAME        3968
LONGITUDE       3974
LATITUDE        3974
REGION          3974
AREA            3951
CELL_ID         3974
SITE_CODE       3974
dtype: int64

In [ ]:
# using the count method to decribe the data in the various datasets
# CDR_description
CDR_description.count()

Column name    10
Description    10
Format         10
dtype: int64

In [ ]:
# using the count method to decribe the data in the various datasets
# Telcom dataset
Telcom1.count()

PRODUTC            5001
VALUE              5001
DATETIME           5001
CELL_ON_SITE       5001
DW_A_NUMBER_INT    5001
DW_B_NUMBER_INT    5001
COUNTRY_A          5001
COUNTRY_B          5001
CELL_ID            5001
SITE_ID            4285
dtype: int64

In [ ]:
# using the count method to decribe the data in the various datasets
# Telcom dataset 2
Telcom2.count()

PRODUCT         5001
VALUE           5001
DATE_TIME       5001
CELL_ON_SITE    5001
DW_A_NUMBER     5001
DW_B_NUMBER     5001
COUNTRY_A       5001
COUNTRY_B       5001
CELL_ID         5001
SITE_ID         4325
dtype: int64

In [ ]:
# using the count method to decribe the data in the various datasets
# Telcom dataset 3
Telcom3.count()

PRODUCT            5001
VALUE              5001
DATE_TIME          5001
CELL_ON_SITE       5001
DW_A_NUMBER_INT    5001
DW_B_NUMBER_INT    5001
COUNTRY_A          5001
COUNTRY_B          5001
CELLID             5001
SIET_ID            4396
dtype: int64

DATA PREPARATION

In [ ]:
# Removing duplicates
CellsGeo.drop_duplicates( inplace = True) 
CellsGeo
#   removed 43 duplicate records

In [ ]:
# Removing missing data
CellsGeoClean = CellsGeo.dropna()
CellsGeoClean
#   removed 68 missing records

In [ ]:
#rename colunm for dataset 1
Telcom1.rename(columns={"PRODUTC": "PRODUCT"}, inplace=True)
#previewing first row to check column update
Telcom1.head(1)

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu

[1 rows x 10 columns]

In [ ]:
#rename colunm for dataset 2

Telcom2.rename(columns={"DATE_TIME":"DATETIME", "DW_A_NUMBER": "DW_A_NUMBER_INT", "DW_B_NUMBER":"DW_B_NUMBER_INT"}, inplace=True)
#previewing first row to check column update
Telcom2.head(1)

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2

[1 rows x 10 columns]

In [ ]:
#rename colunm for dataset 3
Telcom3.rename(columns={"DATE_TIME":"DATETIME", "CELLID": "CELL_ID", "SIET_ID":"SITE_ID"}, inplace=True)
#previewing first row to check column update
Telcom3.head(1)

  PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx

[1 rows x 10 columns]

In [ ]:
 #concating the three datasets(TeTelcom1,Telcom2,Telcom3)
 AllTelcoms=pd.concat([Telcom1,Telcom2,Telcom3], axis= 0)
  #previewing the last 2 rows to check on concatination
 AllTelcoms.tail(2)

     PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[2 rows x 10 columns]

In [ ]:
# Dropping unnecessary columns 
AllTelcoms = AllTelcoms.drop(columns = ['COUNTRY_A' ,	'COUNTRY_B' ,'CELL_ON_SITE'] ,axis =1)
# previewing the last two rows to check on the dropped columns
AllTelcoms.head(2)

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0   Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  ...  /+cKZKIp41  /+cKZKIp41

[2 rows x 7 columns]

In [ ]:
# to split the date and time column into separate columns


# create a new column and split the date_time column into 2
AllTelcoms.head()
AllTelcoms[['DATE', 'TIME']] = AllTelcoms.DATETIME.str.split(expand=True)
# previewing the last row to check on the newly created columns
AllTelcoms.head(1)

  PRODUCT  VALUE               DATETIME  ...     SITE_ID        DATE        TIME
0   Voice      0  2012-05-06 23:04:37.0  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0

[1 rows x 9 columns]

In [ ]:
# merging datasets
TelGeo = AllTelcoms.merge(CellsGeoClean, left_on="SITE_ID",right_on="SITE_CODE")
# previewing first two rows to check on the merge
TelGeo.head(2)

  PRODUCT  VALUE               DATETIME  ...          AREA   CELL_ID_y   SITE_CODE
0     sms      0  2012-05-07 00:00:00.0  ...  CENTRE NORTH  24ccdda3d5  1b5540c02d
1     sms      0  2012-05-07 00:00:00.0  ...  CENTRE NORTH  ebfc58af70  1b5540c02d

[2 rows x 20 columns]

#ANALYSIS

In [ ]:
# the sum for each product billing price

grouped = TelGeo.groupby(['PRODUCT'])['VALUE'].sum()
grouped

PRODUCT
Voice    1189439
sms       233434
Name: VALUE, dtype: int64

In [ ]:
#Maximum values on TelGeo
TelGeo.max()

PRODUCT                              sms
VALUE                               6750
DATETIME           2012-05-09 00:01:43.0
DW_A_NUMBER_INT          fffc7416fba430e
DW_B_NUMBER_INT          fffe599433b7eef
CELL_ID_x                     ffcc507579
SITE_ID                       fff5ac6e3f
DATE                          2012-05-09
TIME                          00:01:54.0
VILLES                          ZUENOULA
STATUS                        In Service
LOCALISATION                   INTERIEUR
DECOUPZONE                     SUD-OUEST
ZONENAME              ZONE E - SUD-OUEST
LONGITUDE                       -2.57022
LATITUDE                         10.4413
REGION                            ZANZAN
AREA                          SOUTH WEST
CELL_ID_y                     ffc4c8c1b2
SITE_CODE                     fff5ac6e3f
dtype: object

In [ ]:
#Most used city for the three days
TelGeo['REGION'].max()

'ZANZAN'

In [ ]:
#least used city for the three days
TelGeo['REGION'].min()

'18 MONTAGNES'

In [ ]:
#minimum  values in TelGeo
TelGeo.min()

PRODUCT                              Voice
VALUE                                    0
DATETIME             2012-05-07 00:00:00.0
DW_A_NUMBER_INT            0001a678225c0ff
DW_B_NUMBER_INT            0005a9d5d8463ff
CELL_ID_x                       000e75b960
SITE_ID                         00197a4f5f
DATE                            2012-05-07
TIME                            00:00:00.0
VILLES                          ABENGOUROU
STATUS                          In Service
LOCALISATION                       ABIDJAN
DECOUPZONE                  Abidjan_CENTRE
ZONENAME           ZONE A - Abidjan_CENTRE
LONGITUDE                         -8.40861
LATITUDE                           4.42008
REGION                        18 MONTAGNES
AREA                         ABIDJAN NORTH
CELL_ID_y                       002a737508
SITE_CODE                       00197a4f5f
dtype: object

In [ ]:
#checking on correlation
TelGeo.corr()

              VALUE  LONGITUDE  LATITUDE
VALUE      1.000000   0.001761  0.005110
LONGITUDE  0.001761   1.000000 -0.554396
LATITUDE   0.005110  -0.554396  1.000000

In [ ]:
#checking the count of column product
TelGeo.PRODUCT.value_counts()

sms      29279
Voice    21452
Name: PRODUCT, dtype: int64

In [ ]:
#sorting dataset TelGeo by product
TelGeo.sort_values(by=['VALUE','LONGITUDE']).head(30)

      PRODUCT  VALUE               DATETIME  ...        AREA   CELL_ID_y   SITE_CODE
14543   Voice      0  2012-05-08 00:01:35.0  ...  NORTH WEST  a3e5534191  32b8357a82
14544   Voice      0  2012-05-08 00:01:35.0  ...  NORTH WEST  73dbd423db  32b8357a82
14545   Voice      0  2012-05-08 00:01:35.0  ...  NORTH WEST  ff3bdca4e3  32b8357a82
33828     sms      0  2012-05-07 00:00:50.0  ...  NORTH WEST  f065ac4a99  d93346cdaa
33829     sms      0  2012-05-07 00:00:50.0  ...  NORTH WEST  dafa6f8b0e  d93346cdaa
33830     sms      0  2012-05-07 00:00:50.0  ...  NORTH WEST  5e569ee8b6  d93346cdaa
33831     sms      0  2012-05-07 00:00:50.0  ...  NORTH WEST  f065ac4a99  d93346cdaa
33832     sms      0  2012-05-07 00:00:50.0  ...  NORTH WEST  dafa6f8b0e  d93346cdaa
33833     sms      0  2012-05-07 00:00:50.0  ...  NORTH WEST  5e569ee8b6  d93346cdaa
48734   Voice      0  2012-05-08 00:00:42.0  ...  NORTH WEST  094b45cac9  35cae15a08
48735   Voice      0  2012-05-08 00:00:42.0  ...  NORTH WEST  f5056f0e65  35cae15a08
48736   Voice      0  2012-05-08 00:00:42.0  ...  NORTH WEST  afe209a943  35cae15a08
48737   Voice      0  2012-05-08 00:00:42.0  ...  NORTH WEST  b646720954  35cae15a08
48738   Voice      0  2012-05-08 00:00:42.0  ...  NORTH WEST  0c9bba2700  35cae15a08
48739   Voice      0  2012-05-08 00:00:42.0  ...  NORTH WEST  ec0bc2d3b7  35cae15a08
48842     sms      0  2012-05-08 00:00:31.0  ...  NORTH WEST  c9d9f013e5  6e9d0c4534
48843     sms      0  2012-05-08 00:00:31.0  ...  NORTH WEST  4a766a636b  6e9d0c4534
48844     sms      0  2012-05-08 00:00:31.0  ...  NORTH WEST  cbcc87bde2  6e9d0c4534
43323     sms      0  2012-05-07 00:00:42.0  ...  NORTH WEST  06049e1937  05566b9200
43324     sms      0  2012-05-07 00:00:42.0  ...  NORTH WEST  576de24668  05566b9200
43325     sms      0  2012-05-07 00:00:42.0  ...  NORTH WEST  04f5a063c0  05566b9200
43326     sms      0  2012-05-07 00:00:42.0  ...  NORTH WEST  06049e1937  05566b9200
43327     sms      0  2012-05-07 00:00:42.0  ...  NORTH WEST  576de24668  05566b9200
43328     sms      0  2012-05-07 00:00:42.0  ...  NORTH WEST  04f5a063c0  05566b9200
40442     sms      0  2012-05-07 00:00:30.0  ...  NORTH WEST  5e01935ee4  442f476021
40443     sms      0  2012-05-07 00:00:30.0  ...  NORTH WEST  5f96fae7ed  442f476021
40444     sms      0  2012-05-07 00:00:30.0  ...  NORTH WEST  3c6a0d8320  442f476021
37559   Voice      0  2012-05-07 00:00:55.0  ...  NORTH WEST  8daa47c02c  c6210d7615
37560   Voice      0  2012-05-07 00:00:55.0  ...  NORTH WEST  68a40e91a2  c6210d7615
37561   Voice      0  2012-05-07 00:00:55.0  ...  NORTH WEST  6af221f930  c6210d7615

[30 rows x 20 columns]

In [ ]:
#sorting dataset TelGeo by product
TelGeo.sort_values(by=['VALUE','LONGITUDE']).tail(30)

      PRODUCT  VALUE  ...   CELL_ID_y   SITE_CODE
14637   Voice   1860  ...  440131ae77  f939f3349c
14638   Voice   1860  ...  1768c7d4ff  f939f3349c
14639   Voice   1860  ...  dc5221b260  f939f3349c
14640   Voice   1860  ...  b24e25e072  f939f3349c
14641   Voice   1860  ...  0c18274f4c  f939f3349c
42301   Voice   2120  ...  59d20a3dd7  2dc799193c
42302   Voice   2120  ...  0c334244f8  2dc799193c
42303   Voice   2120  ...  075b1299fc  2dc799193c
42304   Voice   2120  ...  7bd36705ed  2dc799193c
42305   Voice   2120  ...  a77293b940  2dc799193c
42306   Voice   2120  ...  6906de5b15  2dc799193c
2982    Voice   2212  ...  b855b773cf  969b8d0e39
2983    Voice   2212  ...  b9af583eac  969b8d0e39
2984    Voice   2212  ...  0ad2d8e60f  969b8d0e39
2985    Voice   2212  ...  43adae9a57  969b8d0e39
2986    Voice   2212  ...  04234ecc41  969b8d0e39
2987    Voice   2212  ...  585a3bc66c  969b8d0e39
46867   Voice   2330  ...  a77c3bffaa  ea868b8a04
46868   Voice   2330  ...  31f07659fd  ea868b8a04
46869   Voice   2330  ...  a407e1eb85  ea868b8a04
18951   Voice   3380  ...  28623e32da  2e828e607c
18952   Voice   3380  ...  5d2485b47f  2e828e607c
18953   Voice   3380  ...  4a1071ba39  2e828e607c
18954   Voice   3380  ...  10dbd56424  2e828e607c
18955   Voice   3380  ...  3763c9e23e  2e828e607c
18956   Voice   3380  ...  2b64f203ba  2e828e607c
44071   Voice   6750  ...  e979887400  a64fc672f1
44072   Voice   6750  ...  1ec42c36a0  a64fc672f1
44073   Voice   6750  ...  78513e000d  a64fc672f1
44074   Voice   6750  ...  21de9f8833  a64fc672f1

[30 rows x 20 columns]